nav{
  height: 60px;
  width: 100%;
  background: gray;
  display: grid;
  align-items: center;
}

nav ul{
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  list-style: none;
  width: 100%;
  align-items: center;
}

.title{
  font-size: 2em;
  padding-left: 15px;
}