.container{
  padding: 90px 20px 0;
}


nav{
  height: 60px;
  width: 100%;
  display: grid;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  position: fixed;
  background-color: white;
  z-index: 1;
  box-shadow: 0 15px 15px rgba(40, 40, 56, 0.062);
}

nav ul{
  display: grid;
  grid-template-columns: 1fr 2fr;
  list-style-type: none;
}

.links_logged_out{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.links_logged_in{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.nav_link{
  display: block;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  text-align: center;
  color: rgb(74, 79, 95);
  cursor: pointer;
}

.name{
  font-size: 1.5em;
  text-transform: lowercase;
  letter-spacing: 0.4em;
  font-weight: 600;
}

.title{
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

a{
  color: rgb(79, 92, 99);
  text-decoration: none;
}

.italic{
  font-style: italic;
}

.bold{
  font-weight: 600;
}

.error{
  color: rgb(199, 81, 81);
  font-size: 0.8em;
  line-height: 2em;
}

.success{
  color: rgb(82, 155, 86);
  font-size: 0.8em;
  line-height: 2em;
}

@media only screen and (max-width: 700px){
  .container{
    font-size: 0.8em;
  }
}