.card_container_blank{
  box-sizing: border-box;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.med_opacity{
  opacity: 0.75;
}

.big_icon{
  width: 70px;
  padding: 10px 0;
}

.med_title{
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 2em;
}

@media only screen and (max-width: 800px){
  .card_container_blank{
    width: 100%;
  }

  .big_icon{
    width: 50px;
  }

  .med_title{
    font-size: 0.8em;
  }
}
