.recipe_wrapper{
  position: absolute;
  left: 0;
  top: 500px;
  /* background: yellow; */
  /* padding-bottom: 30px; */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.recipe_wrapper ul{
  list-style: none;
}

.recipe_body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
}

.recipe_info{
  grid-column: 1 / span 2;
  padding-bottom: 15px;
}

.recipe_img_big{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon{
  display: block;
  margin: 0 auto;
}

.icons_container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

hr{
  margin: 15px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.ingredient_list{
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.ingredient_list, .direction_list{
  padding: 0 25px;
  text-align: left;
}

.ingredient_list li, .direction_list li{
  padding: 3px 0;
}

.bordered_title{
  text-align: center;
  border: 1px solid black;
  line-height: 2em;
}

@media only screen and (max-width: 700px){
  .recipe_wrapper{
    top: 400px;
  }
}