.home_container{
  height: 100%;
  width: 100%;
}

.parallax{
  perspective: 10px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax_layer{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax_group_bottom{
  z-index: -1;
  transition: transform 0.5s;
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.parallax_group_top{
  z-index: 3;
  transition: transform 0.5s;
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
  background-color: white;
}

.bg_img{
  transform: translateZ(-10px) scale(2);
  background: 
    linear-gradient(white 25%, rgba(255, 255, 255, 0) 75%),
    url('./meal_prep.jpg') no-repeat;
  background-size: cover; 
  background-position: center;
  z-index: 3;
}

.parallax_txt{
  transform: translateZ(0);
  top: 23%;
  text-align: center;
  z-index: 4;
}


.solid_bg{
  background-color: rgb(240, 240, 241);
}

.welcome{
  font-size: 1.5em;
  text-transform: lowercase;
  letter-spacing: 0.4em;
  font-weight: 600;
  color: rgb(66, 66, 92);
}


@media only screen and (max-width: 700px){
  .welcome{
    font-size: 1em;
  }
}