.card_container::before,
.card_container::after {
  content: '';
}

.card_container{
  box-sizing: border-box;
  padding: 15px 0;
  display: grid;
  text-align: center;
  grid-template-columns: 20px repeat(5, 28%) 20px;
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x proximity;
}

.card_container_blank{
  box-sizing: border-box;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  align-items: center;
  height: 350px;
}

.big_icon{
  width: 100px;
}

.med_title{
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 2em;
}

@media only screen and (max-width: 900px){
  .card_container{
    grid-template-columns: 10px repeat(5, 55%) 10px;
  }
}

@media only screen and (max-width: 700px){
  .card_container{
    grid-template-columns: 10px repeat(5, 40%) 10px;
  }

  .card_container_blank{
    height: 250px;
    grid-gap: 18px;
  }

  .big_icon{
    width: 50px;
  }

  .med_title{
    font-size: 0.9em;
  }
}