.cardContainer{
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  width: 100%;
}