.search_bar{
  text-align: center;
  margin-top: 15px;
}

.input{
  border: thin solid black;
  line-height: 2em;
  width: 50%;
  max-width: 500px;
  padding: 0 15px;
  box-sizing: content-box;
  transition: 0.4s;
  border-radius: 0px;
  font-size: 16px;
}

.input:hover, .input:focus{
  outline: none;
  border-radius: 0;
  border: thin solid transparent;
  border-bottom: thin solid black;
  padding: 0;
}

.input:focus{
  background-color: rgba(122, 122, 148, 0.15);
}

.search_btn{
  line-height: 2em;
  vertical-align: top;
  background: transparent;
  border: thin solid black;
  cursor: pointer;
  padding: 0 15px;
  margin-left: 10px;
  font-size: 16px;
  text-transform: lowercase;
}


.search_btn:focus{
  outline: none;
  background-color: transparent;
}

.search_btn:hover{
  background-color: rgba(122, 122, 148, 0.15);
}

@media (hover: none){
  .search_btn:hover{
    background-color: inherit;
  }
}