.calendar{
  width: 100%;
  /* border: thin solid black; */
  border-collapse: collapse;
  box-shadow: 5px 5px 5px rgba(122, 122, 148, 0.3);
  margin-bottom: 10px;
  border: thin solid rgba(122, 122, 148, 0.3);

}

.calendar td{
  border: thin solid rgba(122, 122, 148, 0.3);
  width: 12.5%;
  height: 50px;
  text-align: center;
}

.calendar th{
  width: 12.5%;
  height: 30px;
  font-weight: normal;
  border: thin solid rgba(122, 122, 148, 0.3);

}


.calendar_main{
  background: rgba(122, 122, 148, 0.1);
}

.calendar_main td{
  font-size: 0.7em;
}

.macros th, .macros td{
  background-color: white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}

.macros td{
  font-size: 0.8em;
}

.sm_screen{
  display: none;
}

@media only screen and (max-width: 700px){
  .sm_screen{
    display: table-cell;
  }

  .big_screen{
    display: none;
  }
  
}